.comments-container{
    display: flex;
    flex-direction: column;
    margin-top:12px;
    padding-left:12px;
    padding-right:12px;
}

.comments-container .comment{
    display: flex;
    flex-direction: row;
    margin-bottom:4px;
}

.comments-container .comment .username{
    font-weight: 600;
    margin-right:8px;
}
